@import 'variables.scss';


html {
    height: 100%;
}

body {
    font-size: 20px!important;
    margin: 0;
    padding: 0;
    font-family: $font-family-content;
    font-size: $font-size-base;
    line-height: $line-height-base;
    background-color: $background-color;
    color: $content-color;
    min-height: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-title;
  //margin-block-start:0; margin-block-end:0; margin-inline-start:0; margin-inline-end:0;
  //padding-block-start:0; padding-block-end:0; padding-inline-start:0; padding-inline-end:0;
  font-weight: 200;

  strong {
    font-weight: 900;
  }

}

header {
  z-index: 1000;
  padding: 20px 20% 0 20%;
  width: 100%;
  box-sizing: border-box;
  h1 {
    width: 6em;
    display: flex;
    flex-flow: column;
    justify-items: center;
    line-height: 1.1em;
    margin-bottom: 0.8em;
    .left {
      text-align: left;
    }
    .right {
      text-align: right;

      justify-self: flex-end;
    }
  }
  .subtitle {
    text-align: right;
    margin-bottom: 0.3em;
    .small {
      font-size: 0.8em;
    }
  }
}
main {
  margin: 50px 20%;
  z-index: 2000;
}
.mosaic {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  .block {
    width: 250px;
    height: 250px;
    max-height: 250px;
    overflow-y: hidden;
    box-sizing: border-box;
    min-width: 250px;
    min-height: 250px;
    height: auto;

    transition: all 50ms ease-in-out;
    text-align: right;
    display: flex;
    flex-flow: column;
    justify-content: center;
    p {
      display: block;
      padding: 10px 50px;
      font-weight: 400;
    }
    &:hover {
     transform: scale(1.05);
     box-shadow: 10px 10px 0 map-get($map: $colors, $key: primary);

    }

    img {
      width: 20%;
      min-width: 250px;
      min-height: 250px;
    }

    &[color="primary"] {
      background-color: map-get($map: $colors, $key: primary);
    }
    &[color="neutral"] {
      background-color: map-get($map: $colors, $key: neutral);
    }
    &[color="secondary"] {
      background-color: map-get($map: $colors, $key: secondary);
    }
    &[color="light"] {
      background-color: map-get($map: $colors, $key: light);
      color: map-get($map: $colors, $key: dark);
    }
    &[color="dark"] {
      background-color: map-get($map: $colors, $key: dark);
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px 20%;
  margin-top: 150px;
  font-size: 0.8em;
  background-color: map-get($map: $colors, $key: primary);
  color: map-get($map: $colors, $key: dark)
}

.text-section {
  margin: 20px 20%;
  border: 3px solid map-get($map: $colors, $key: light);
  padding: 5px 50px;
}

#particles, .flag {
  position: fixed;
  z-index: -10;
  width: 15px;
}
#flagRef {
  display: none;
}