
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;900&display=swap');

$colors: (
    dark-primary: #F8A21E,
    primary: #ffff00,
    secondary: #5EB56A,
    dark-success: darken(#5EB56A, 5%),
    neutral: #60C4E3,
    dark-neutral: darken(#60C4E3, 10%),
    light: #FFF,
    shader-light: #FAFAFA,
    grey: #f4f4ed,
    dark-grey: #f4f4ed,
    dark: #000000,
    lighten-dark: #1A1A1A,
    warn: #ED6D1D,
    dark-warn: darken(#ED6D1D, 10%),
    danger: #E6294A,
    dark-danger: darken(#E6294A, 10%),
);

$background-color: map-get($colors, dark);
$content-color: map-get($colors, light);
$title-color: map-get($map: $colors, $key: light);
$title-color-bold: map-get($map: $colors, $key: primary);

$header-title-color: map-get($map: $colors, $key: light);

$font-family-title: 'Chivo', sans-serif;
$font-family-title-bold: 'Chivo', sans-serif;
$font-family-content: 'Chivo', sans-serif;

$h1-font-size: 3rem;
$h2-font-size: 1.65rem;
$h2-font-size-bold: 1.1rem;
$h3-font-size: 1.35rem;

$illustration-size: 150px;

$font-size-base: 1em;
$font-size-detail: 0.75em;
$line-height-base: 1.7;

$footer-background-color: map-get($map: $colors, $key: dark);
$footer-color: map-get($map: $colors, $key: light);
$footer-padding: 20px 20%;
$footer-font-size: 0.9rem;
$footer-line-height-base: 200%;

$link-color: map-get($map: $colors, $key: secondary );
$link-hover-color: map-get($map: $colors, $key: dark-primary );

$blockquote-color: map-get($map: $colors, $key: dark);
$blockquote-border-color: map-get($map: $colors, $key: tertiary);

$small-screen-step-1 : 600px;
$small-screen-step-2 : 800px;
$small-screen-step-2_5 : 1200px;
$small-screen-step-3 : 1400px;